.l-home-kv {
  box-sizing: border-box;
  //padding-top: 140px;
  //height: 980px;
  height: 880px;
  width: 100%;

  @include u-max-default() {
    //padding-top: sizeVW-default(202);
    padding-top: sizeVW-default(50);
    height: sizeVW-default(1246);
  }

  &__title {
    text-align: center;

    @include u-max-default() {
      text-align: left;
      padding-left: sizeVW-default(60);
    }

    &.is-hide {
      visibility: hidden;
    }

    > p {
      @include u-font-size(20);
      line-height: 1;
      letter-spacing: 0.3em;
      margin-bottom: 20px;

      @include u-max-default() {
        font-size: sizeVW-default(24);
        line-height: sizeRatio(40, 24);
        margin-bottom: sizeVW-default(12);
      }
    }

    > h2 {
      @include f-josefin-B();
      @include u-font-size(90);

      @include u-max-default() {
        font-size: sizeVW-default(90);
        line-height: sizeRatio(108, 90);
      }

      .is-red {
        color: #dc4844;
      }
    }
  }
}