.p-btn-kv {
  @include f-josefin-B();
  @include u-font-size(20);
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  width: 118px;
  position: absolute;

  @include u-max-default() {
    font-size: sizeVW-default(28);
    width: sizeVW-default(146);
  }

  &:before {
    background-color: #dc4844;
    content: '';
    display: block;
    height: 1px;
    width: 80px;
    transition: transform 0.3s $_3_CubicOut;

    @include u-max-default() {
      width: sizeVW-default(100);
    }
  }

  > span {
    display: block;
    padding-bottom: 2px;
    transition: transform 0.3s $_3_CubicOut;

    @include u-max-default() {
      padding-bottom: sizeVW-default(4);
    }
  }

  &--left {
    top: 90px;
    left: 0;

    @include u-max-default() {
      top: sizeVW-default(770);
    }

    &:before {
      margin-right: 12px;

      @include u-max-default() {
        margin-right: sizeVW-default(12);
      }
    }

    .pc &:hover {
      &:before {
        transform: translate(-30px, 0);
      }

      > span {
        transform: translate(-30px, 0);
      }
    }
  }

  &--right {
    top: 90px;
    right: 0;
    flex-direction: row-reverse;

    @include u-max-default() {
      top: sizeVW-default(770);
    }

    &:before {
      margin-left: 12px;

      @include u-max-default() {
        margin-left: sizeVW-default(12);
      }
    }

    .pc &:hover {
      &:before {
        transform: translate(30px, 0);
      }

      > span {
        transform: translate(30px, 0);
      }
    }
  }
}