.p-kv-slide {
  position: relative;
  height: 100%;
  width: 100%;

  &__copy {
    @include u-font-size(24);
    line-height: sizeRatio(48, 24);
    letter-spacing: 0.3em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 64px;

    @include u-max-default() {
      font-size: sizeVW-default(26.4);
      line-height: sizeRatio(52.8, 26.4);
      top: sizeVW-default(65);
    }

    .p-kv-slide--01 & {
      text-shadow: 2px 2px 0 #fff,
      -2px 2px 0 #fff,
      2px -2px 0 #fff,
      -2px -2px 0 #fff;
    }

    .p-kv-slide--02 & {

    }

    .p-kv-slide--03 & {
      text-shadow: 2px 2px 0 #fff,
      -2px 2px 0 #fff,
      2px -2px 0 #fff,
      -2px -2px 0 #fff;
    }

    .p-kv-slide--04 & {
      text-shadow: 2px 2px 0 #fff,
      -2px 2px 0 #fff,
      2px -2px 0 #fff,
      -2px -2px 0 #fff;
    }

    .p-kv-slide--05 & {

    }

    .p-kv-slide--06 & {

    }

    li {
      > span {
        display: inline-block;
        position: relative;

        &:after {
          background-color: #000;
          content: '';
          display: inline-block;
          height: 100%;
          width: 4px;
          position: absolute;
          bottom: 0;
          left: 0;

          @include u-max-default() {
            width: sizeVW-default(6);
          }
        }
      }

      > span.is-red {
        color: #dc4844;
      }
    }
  }

  &__number {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 404px;

    @include u-max-default() {
      right: sizeVW-default(16);
      top: sizeVW-default(406);
    }

    .p-kv-slide--01 & {

    }

    .p-kv-slide--02 & {

    }

    .p-kv-slide--03 & {
      text-shadow: 2px 2px 0 #fff,
      -2px 2px 0 #fff,
      2px -2px 0 #fff,
      -2px -2px 0 #fff;
    }

    .p-kv-slide--04 & {

    }

    .p-kv-slide--05 & {

    }

    .p-kv-slide--06 & {

    }

    .col-num {
      @include f-josefin-B();
      @include u-font-size(24);
      line-height: 1;
      text-align: center;
      margin-bottom: 10px;

      @include u-max-tablet() {
        //font-size: sizeVW-tablet(24);
      }

      @include u-max-default() {
        font-size: sizeVW-default(26.4);
        margin-bottom: sizeVW-default(10);
      }
    }

    .col-copy {
      @include f-josefin-B();
      @include u-font-size(14);
      line-height: sizeRatio(18, 14);
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;

      @include u-max-tablet() {
        //font-size: sizeVW-tablet(14);
      }

      @include u-max-default() {
        font-size: sizeVW-default(15.4);
        line-height: sizeRatio(19.8, 15.4);
      }

      > span {
        display: block;
      }

      > span.is-red {
        color: #dc4844;
      }
    }
  }

  &__illust {
    position: absolute;
    bottom: 29px;
    left: 50%;

    @include u-max-default() {
      bottom: 0;
    }

    .p-kv-slide--01 & {
      > img {
        height: 471px;
        width: 567px;
        margin-left: -283.5px;

        @include u-max-default() {
          height: sizeVW-default(471);
          width: sizeVW-default(567);
          margin-left: sizeVW-default(-283.5);
        }
      }
    }

    .p-kv-slide--02 & {
      > img {
        height: 492px;
        width: 583px;
        margin-left: -291.5px;

        @include u-max-default() {
          height: sizeVW-default(492);
          width: sizeVW-default(583);
          margin-left: sizeVW-default(-291.5);
        }
      }
    }

    .p-kv-slide--03 & {
      > img {
        height: 431px;
        width: 599px;
        margin-left: -299.5px;

        @include u-max-default() {
          height: sizeVW-default(431);
          width: sizeVW-default(599);
          margin-left: sizeVW-default(-299.5);
        }
      }
    }

    .p-kv-slide--04 & {
      > img {
        height: 495px;
        width: 599px;
        margin-left: -299.5px;

        @include u-max-default() {
          height: sizeVW-default(495);
          width: sizeVW-default(599);
          margin-left: sizeVW-default(-299.5);
        }
      }
    }

    .p-kv-slide--05 & {
      > img {
        height: 513px;
        width: 567px;
        margin-left: -283.5px;

        @include u-max-default() {
          height: sizeVW-default(513);
          width: sizeVW-default(567);
          margin-left: sizeVW-default(-283.5);
        }
      }
    }

    .p-kv-slide--06 & {
      > img {
        height: 456px;
        width: 567px;
        margin-left: -283.5px;

        @include u-max-default() {
          height: sizeVW-default(456);
          width: sizeVW-default(567);
          margin-left: sizeVW-default(-283.5);
        }
      }
    }
  }
}